fastapi
uvicorn
pydantic
supabase
asyncpg
unstructured
python-docx

langchain-huggingface
langchain 
langchain-community
gpt4all
faiss-cpu
langgraph
langchain-mistralai
langchain-openai
sqlalchemy

psycopg 
psycopg-pool
langchainhub
pandas
